.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  color: var(--third-color);
  background-color: var(--primary-color);
}

@media only screen and (min-width: 800px) {
  .note-input {
    min-width: 400px;
  }
}
