@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

:root {
  /* https://colorhunt.co/palette/000000f58840b85252eadede */
  --primary-color: #f58840;
  --secondary-color: white;
  --third-color: #3d3d3d;
  --fourth-color: #b85252;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

.btn {
  width: 100%;
  padding: 8px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  color: var(--third-color);
  border: 1px solid var(--third-color);
  border-radius: 10px;
  resize: none;
}
textarea {
  height: 100px;
}

input::placeholder,
textarea::placeholder {
  color: var(--third-color);
  font-weight: 500;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  color: var(--third-color);
  background-color: var(--primary-color);
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: var(--secondary-color);
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: var(--primary-color);
}

.note-item {
  border: 2px solid var(--primary-color);
  border-bottom: none;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color: var(--primary-color);
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.note-item__body {
  font-size: 14px;
  color: var(--third-color);
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 8px 0;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  color: var(--secondary-color);
  background-color: var(--fourth-color);
}

.note-item__archive-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
